@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&display=swap');
.text {
    background: green;
    width: 150px;
    height: 159px;
    ;
}

#box {
    background-color: hotpink;
    width: 150px
}

.some_text {
    display: inline-block;
    width: 150px;
    font-weight: 700;
}

h3 {
    text-align: center;
    padding: 10px 20px 30px 40px;
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 30px;
    margin: 10px 20px 30px 40px;
    background-color: lawngreen;
    /* border-width: 5px;
    border-style: solid;
    border-color: lightseagreen; */
    border: 5px solid red;
}

.container {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    font-family: 'Azeret Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
}

.main_block {
    background: royalblue;
    text-align: center;
    box-shadow:  ;
}

.input_block {}




}